[2012-05-29 19:03] djberg96 opened #1 "Problem compiling with MSVC++"
Hi,

I'm trying to build this with Microsoft Visual C++ on Windows 7, with Ruby 1.9.3-p194. However, I'm having a bit of trouble.

ruby 1.9.3p194 (2012-04-20 revision 35410) [i386-mswin32_100]

<pre>
c:\Users\djberge\Repositories\ruby-unf_ext\ext\unf_ext>nmake

Microsoft (R) Program Maintenance Utility Version 10.00.30319.01
Copyright (C) Microsoft Corporation.  All rights reserved.

generating un

[2012-05-30 02:25] #1 closed, assigned to nobody

[2012-05-30 16:17] djberg96 opened #2 "Lots of warnings on OSX"
Hi,

I'm seeing lots of warnings with gcc 4.2.1 on Snow Leopard and Ruby 1.9.3-p194. They don't seem to stop it from building, but I thought I should mention it.

<pre>
ruby 1.9.3p194 (2012-04-20 revision 35410) [x86_64-darwin10.8.0]
</pre>

<pre>

Using built-in specs.
Target: i686-apple-darwin10
Configured with: /var/tmp/gcc/gcc-5666.3~6/src/configure --disable-checking --enable-werror --prefix=

[2012-12-03 16:17] benissimo opened #3 "Problem installing 0.0.5"
While 0.0.4 installs fine, when I try to install 0.0.5 on Ubuntu 12.04 using rvm ruby 1.9.3-p327 I get this error:

[code]

[2012-12-03 16:31] #3 closed, assigned to nobody

[2013-04-02 01:42] joe1chen opened #4 "Error compiling with Ruby 2.0"
Using Ruby 1.9.3 is no problem, but compiling with Ruby 2.0 fails.

Here's the output of the /gems/unf_ext-0.0.6/ext/unf_ext/gem_make.out

[code]

[2013-06-19 01:25] postmodern opened #5 "Error compiling on Ruby 1.8.7"
<pre>
g++ -I. -I. -I/opt/rubies/ruby-1.8.7-p371/lib/ruby/1.8/x86_64-linux -I. -DHAVE_RUBY_ENCODING_H    -fPIC -g -O2    -c unf.cc
In file included from unf.cc:5:0:
/usr/include/ruby/encoding.h:101:68: error: expected identifier before numeric constant
/usr/include/ruby/encoding.h:101:68: error: expected ‘,’ or ‘...’ before numeric constant
/usr/include/ruby/encoding.h:101:73: error: expected const

[2013-06-19 01:59] #5 closed, assigned to nobody

[2014-05-28 15:50] jhoblitt opened #8 "0.0.6 build fails for ruby 1.8.7 with gcc 4.8.2"
I've been unable to build 0.0.6 (or any earlier version) on Fedora 20 for ruby 1.8.7 with gcc 4.8.2.  gcc 4.8.2 + ruby 2.0.0 builds as expected.  I used a Gentoo box and was able to get 0.0.6 to build for ruby 1.8.7 using gcc 4.7.2.

gcc version (fedora 20):

[code]

Build error:

[code]

[2014-10-11 13:32] #2 closed, assigned to nobody

[2014-10-31 17:05] keithnickas opened #9 "Install on MacOS 10.9.5 -- Issues with bundle install and Ruby 1.9.3"
I have been trying to get the gem to install using bundle but I'm never able to get very far. It seems to install when I use `gem` or `bundle install --gemfile=`  but when I attempt to do the regular `bundle install` for my app it results in the following:

[code]

Another error that I get is the following when I use the other bundle install method above:
`Could not find unf_ext-0.0.6 in any of th

[2015-04-19 17:40] aptituz opened #10 "Build fails on OSX 10.10.2"
Hi there,

when trying to build and install beaker I've noticed that unf_ext fails to build:

uilding native extensions.  This could take a while...
ERROR:  Error installing unf_ext:
    ERROR: Failed to build gem native extension.

[code]

checking for main() in -lstdc++... yes
creating Makefile

make "DESTDIR="
compiling unf.cc
In file included from unf.cc:1:
In file included from ./unf/normaliz

[2015-04-20 03:44] knu commented on #10
It doesn't reproduce for me with OS X 10.10.3 and Xcode 6.3, but there seem to be some people in the same boat as you.  Try fixing your installation as described here: http://stackoverflow.com/questions/29529455/missing-c-header-debug-after-updating-osx-command-line-tools-6-3

[2015-04-20 06:11] aptituz commented on #10
Thanks for the hint. I'll first try, if the missing update of my system
will already fix it. Otherwise I'll have a look at the described stuff.

2015-04-20 5:44 GMT+02:00 Akinori MUSHA <notifications@github.com>:

[2015-04-20 06:59] aptituz commented on #10
Upgrading OSX did not work. Downgrading to Xcode 6.2 worked. JFTR.

2015-04-20 8:11 GMT+02:00 Patrick Schönfeld <patrick.schoenfeld@gmail.com>:

[2015-04-23 12:26] espen commented on #10
Apple updated Command Line Tools to version 6.3 which fixes this.

[2015-04-26 13:11] aptituz commented on #10
Good to know. Thanks for the hint.

[2015-05-06 00:59] stats opened #11 "Failed to build gem native extension OSX 10.10.3"
running:

    gem install unf_ext -v '0.0.7.1'

results in the following error

    ERROR:  Error installing unf_ext:
	ERROR: Failed to build gem native extension.

    [snip]/rubies/ruby-1.9.3-p547/bin/ruby extconf.rb checking for main() in -lstdc++...     *** extconf.rb failed ***
    Could not create Makefile due to some reason, probably lack of necessary libraries and/or headers.  Check the mk

[2015-05-06 18:46] matthuhman commented on #11
I'm having the same issue right now. Is there currently a fix that avoids downgrading to 6.2?

[2015-05-08 14:07] stats commented on #11
I was able to resolve this issue, and I think it was related to the state of brew following the upgrading to Yosemite.

1. Uninstall Brew
2. Reinstall Brew
3. Uninstall ruby
4. Reinstall ruby
5. Install bundler
6. Run bundle update

[2015-05-08 14:07] #11 closed

[2015-05-08 14:09] stats commented on #9
This may be an issue with the state of brew/ruby. I was able to fix a similar issue by reinstall brew and ruby. https://github.com/knu/ruby-unf_ext/issues/11

[2015-05-18 21:58] ashleygwilliams opened #12 "fails to build on ruby-head(2.3.0)"
working on getting [sintra-contrib](https://github.com/sinatra/sinatra-contrib) green in ruby-head

machine: debian(jessie), ruby-head(2.3.0)
error output and `mkmf.log` here: https://gist.github.com/ashleygwilliams/97dc7eb34f43fdbf3952

any help would be appreciated!

[2015-05-19 00:46] zzak commented on #12
@nobu fixed this here: https://github.com/ruby/ruby/commit/356baf95db7162b5a964dd17a8fe871afe805cf5

[2015-05-19 01:07] ashleygwilliams commented on #12
woo!fix confirmed :)

[2015-05-19 01:07] #12 closed

[2015-05-22 10:13] knu commented on #4
@contentfree The latest version of the gem has binary gems for Windows 64bit/32bit, up to Ruby 2.2.

[2015-05-22 10:16] knu commented on #4
Does this still reproduce?  I'm closing this since I haven't been able to reproduce this.  Please refile an issue if you still have the problem, thanks!

[2015-05-22 10:16] #4 closed

[2015-09-20 18:05] gertig commented on #9
This may also be due to not having agreed to the Xcode license agreements. I had this same issue and after launching Xcode and agreeing to the license agreement the problem was solved.

[2015-09-20 18:06] gertig commented on #10
This may also be due to not having agreed to the Xcode license agreements. I had this same issue and after launching Xcode and agreeing to the license agreement the problem was solved.

[2015-09-21 14:48] robotmay commented on #9
@gertig's solution solved this for me too. Probably one of the weirdest install solutions I've had work!

[2015-09-21 21:49] gertig commented on #9
@robotmay I thought it was pretty weird too, almost decided against posting that comment in case I was crazy. Glad it helped!

[2015-10-01 16:45] pioto commented on #10
I'm using ruby from MacPorts, and found the fix for this issue was to also install GCC from MacPorts:

[code]

[2015-10-06 16:06] andrewtpoe opened #13 "Bundle Install not working."
I am attempting to set up Stripe on a website I am building. unf_ext is installed as a dependency for their gem. I encountered the error below. It duplicates when I try to install unf_ext as a standalone gem as well. When running bundle install I receive this error:

[code]

I am using OS X 10.11. I have x-code installed and updated. Help is appreciated!

[2015-10-06 17:32] andrewtpoe commented on #13
This issue occurred after upgrading OS X to 10.11. I was unaware that I would have to re-agree to x-codes terms and conditions. After completing the agreement process I am able to install without apparent issue.

[2015-10-06 17:32] #13 closed

[2015-11-10 15:54] peterc commented on #10
I had the same problem, but found it was simply because I hadn't accepted the T&Cs after Xcode updated itself without me noticing. So if you have this issue, try running gcc -v first to make sure it runs..

[2016-02-05 07:47] mtasaka opened #15 "0.0.7.2 fails to build on arm with gcc6 (i.e. C++14)"
0.0.7.2 fails to build on armv7hl with gcc 6 development version on Fedora 24 as https://kojipkgs.fedoraproject.org//work/tasks/6081/12886081/build.log

[code]

Note that gcc6 faults to -std=gnu++14, and "char" on arm is "unsigned" by default. So converting -113 (for example) to char on arm is narrowing conversion and C++11 prohibits this on initializer.

[2016-02-14 12:20] full-of-foo opened #16 "Gem install fails for 2.2.3-clang"
On OS X 10.11.3 installing `unf_ext` fails under CRuby `2.2.3-clang` fails from not having system-level dependencies:

[code]

However, this is *not* the case on standard CRuby ` 2.2.3`, unf_ext installs fine

[2016-05-09 06:24] mrohnstock commented on #15
Same here with Arch Linux ARM (armv7hl, too). gcc got updated to 6.1.1 and this error-messages occurred.

[2016-07-11 11:03] Micka33 opened #18 "Build fail on Alpine Linux"
[code]

[code]

I have no idea how to fix this. :(

[2016-07-20 15:46] andreas-schwab commented on #15
https://build.opensuse.org/package/live_build_log/OBS:Server:Unstable/rubygem-unf_ext/openSUSE_Factory_ARM/aarch64
https://build.opensuse.org/package/live_build_log/OBS:Server:Unstable/rubygem-unf_ext/openSUSE_Factory_PPC/ppc64le
https://build.opensuse.org/package/live_build_log/OBS:Server:Unstable/rubygem-unf_ext/openSUSE_Factory_zSystems/s390x

[2016-09-01 07:48] charleslxh opened #20 "Gem::Ext::BuildError: ERROR: Failed to build gem native extension."
I have ruby 2.3.1 in Ubantu 14.04 LTS system, when I excute `sudo -u git -H bundle install --deployment --without development test mysql`, I got those errors.

[code]

[2016-09-01 09:52] knu commented on #20
I've never seen a error like this.  Can you check and compare the memory usage before and while running it?  If the system only has very limited RAM available, adding a swap might help.

[2016-09-01 10:04] knu commented on #20
I don't this compiling this extension would require such a large amount of memory, so I guess some other process is hogging RAM, the compiler has a bug, or something.

[2016-09-05 19:12] themasterchef opened #21 "Please set a value for LC_VERSION_MIN_MACOSX so that the compiled Mac binaries have it in their Mach-O headers"
Hello there

Please could you set a value for LC_VERSION_MIN_MACOSX, such that this load command is embedded into the Mach-O headers of the compiled .o files.

This is to ensure that they pass the stricter code validation in Xcode 7 for certain distribution targets e.g. Mac App Store - currently the Xcode build breaks for my app under these conditions.

You might be able to do this by passing the

[2016-09-08 14:48] thenrio commented on #18
@Micka33

`isinf` and `isnan` are present in docker-library/ruby/blob/2d6449f03976ededa14be5cac1e9e070b74e4de4/2.3/alpine/Dockerfile

I have no issue installing `unf_ext 0.0.7.2` out of `alpine:3.4`

[code]

[2016-09-14 22:59] themasterchef commented on #21
Actually scratch the above - when the gem is compiled on a newer OS X / SDK, it does get the correct LC_VERSION_MIN flags by default. I thought it might have been necessary to set them with mmacosx-version-min but this is not the case.

[2016-09-14 22:59] #21 closed

[2016-09-22 10:10] Darkhogg commented on #15
Seems like there are multiple fixes for this issue, but the bug is still there. Any news?

[2016-10-08 14:34] zatherz commented on #15
Bump. Same here on Raspberry Pi running Arch ARM.

[2016-10-08 14:43] zatherz commented on #15
Nevermind. Turns out the fix is just not in the official release on rubygems yet, so the version you install through `gem install` doesn't have the fix. You have to build it from git.

[2017-04-04 00:38] vielmetti commented on #15
Same problem on ARMv8, I'll try the install from git.

[2017-04-04 00:40] vielmetti commented on #15
What will it take to get this change pushed into the official rubygems?

This comes up in the context of https://github.com/tootsuite/mastodon/issues/802 (port of Mastodon to ARM).

[2017-04-04 04:12] knu commented on #15
I'll look into this later today.

[2017-04-04 04:25] mtasaka commented on #15
For now Fedora (me) has applied the following patch:
http://pkgs.fedoraproject.org/cgit/rpms/rubygem-unf_ext.git/tree/unf_ext-0.0.7.2-char-signness.patch

[2017-04-04 17:28] vielmetti commented on #15
Thanks @knu @mtasaka . My target for this is a Packet 2A ARMv8 server running Docker, Alpine 3.5,  and Ruby for Mastodon.

[2017-04-06 09:22] #15 closed

[2017-04-06 17:58] vielmetti opened #26 "Release new gem (post-0.0.7.2) with ARM fixes, new Unicode 9 support"
Now that #15 has been committed, the next step is to cut a new bug fix release that would include the ARM changes and that would in turn allow Ruby code that uses `unf_ext` to be ported to ARM (Raspberry Pi, ThunderX, and a bunch of systems in between) without doing anything special for this gem.

In addition, it would be sensible to incorporate in the updates from upstream that bring in support f

[2017-04-07 17:51] terceiro commented on #26
Hi, this issue affectiing ARM also affects other architectures, such as ppc46el (64-bit PowerPC Little-Endian, aka POWER). See [this Debian bug](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=859463) for details.

It would indeed be very nice to have a new release with this fix, and if possible, with #27 merged as well.

[2017-04-09 09:08] ss89 commented on #15
This also affects building gitlab ce on armhf.

[2017-04-09 13:57] vielmetti commented on #15
@ss89 - is there an upstream issue for the gitlab build problem?

There was a report from the Mastodon project that this can be worked around by pulling the gem from git as a temporary measure pending a new release. I don't have the precise invocation necessary but it should be a simple and compatible one-liner.

[2017-04-09 22:08] nomoon opened #28 "Tests don't actually test."
Currently, the tests load the cases in the wrong order for the given normalization files. This isn't caught because the tests also use `assert` instead of `assert_equal`, so all tests pass because the arguments are truthy and not because they actually match the expected behaviour.

Fixed by #25.

[2017-04-09 22:11] nomoon opened #29 "Only supports Unicode 6.0, while upstream `unf` supports 9.0"
Unicode 9.0 support and test data has been accepted upstream in sile/unf#1. All this entails is updating the `table.hh` and `normalization-test.txt` files.

Fixed by #24 (although that PR needs an update to the `table.hh` to match whatever type signedness fixes are happening in these other recent PRs)

[2017-04-09 23:42] vielmetti commented on #26
Added a release question for Unicode 9 support.

[2017-04-10 07:32] ss89 commented on #15
@vielmetti i couldn't find any issue about it in their gitlab instance which they use for hosting the gitlab ce repo.

[2017-04-11 06:42] ss89 commented on #15
I have a strange problem that might or might not be related to this one.
If you see this gist:
https://gist.github.com/ss89/14d1e90663dbac285b84cabaf60efeab
you will see that unf_ext was successfully built, but later when build crack it fails with the same error seen in the issue creators first post.
Should i create a new Issue for this?

[2017-04-11 08:21] knu commented on #26
Just released 0.0.7.3.

[2017-04-11 08:21] #26 closed

[2017-04-11 08:22] knu commented on #29
Thanks for the notice.  Done.

[2017-04-11 08:22] #29 closed

[2017-04-11 08:22] knu commented on #28
Merged, thanks!

[2017-04-11 08:22] #28 closed

[2017-04-11 08:36] knu commented on #8
Sorry for replying too late.  It looks like the compiler is using header files for ruby >=1.9, because ruby/encoding.h first appeared in ruby 1.9.1.  I [know](https://bugzilla.redhat.com/show_bug.cgi?id=975660) the ruby-devel package inappropriately installs the header files directly under the system include directory, and didn't get a fix before its EOL.  You either need to temporarily uninstall

[2017-04-11 08:36] #8 closed

[2017-04-11 08:38] knu commented on #20
Please reopen this when you get more information to share.

[2017-04-11 08:38] #20 closed

[2017-04-11 08:39] #9 closed

[2017-04-11 08:40] #10 closed

[2017-04-12 21:04] marcust commented on #15
@knu (/cc @vielmetti)
I was trying today to build that on arm64, but I got somehow the same build problems that used to be there before fee5abd7cb28237ccabc12bd5d273bfa9be11979 was merged because d0947baba183c83ad9194c7041034c91eaa35944 reintroduced the old typing, which is as far as I can see also in `v0.0.7.3`.

Or did I get something wrong?

[2017-04-12 21:27] nomoon commented on #15
It looks like the `const signed char STRINGS[]` in table.hh reverted to `const char STRINGS[]`.

[2017-04-12 21:45] nomoon commented on #15
I think #30 should be all that's necessary to fix it. @marcust are you able to test it via git?

[2017-05-26 12:48] webattitude commented on #18
same pb here with alpine 3.5

[2017-07-20 04:04] mikeshultz commented on #16
Looks like some development tools like gcc need to be installed.  On CentOS: `yum groupinstall "Development Tools`.  Sorry, not sure about OSX.

Ref: https://github.com/sensu-plugins/sensu-plugins-http/issues/51

[2017-08-16 23:44] ilovemysillybanana opened #31 "Trying to precompile this gem fails"
I was trying to create a precompiled version of this gem and it fails during compilation.

[code]

[2017-09-18 19:23] MarkGibbons opened #32 "Solaris sparc compile fails: Compiler options invalid UNIX 03, POSIX.1-2001, c99"
On a Solaris 11 sparc server patched to include fixes from 08/2017 and using the gcc 4.8 compiler I get this message:

 #include "unf/normalizer.hh"
 ^
In file included from /usr/include/wchar.h:8:0,
                 from /usr/gcc/4.8/include/c++/4.8.2/cwchar:44,
                 from /usr/gcc/4.8/include/c++/4.8.2/bits/postypes.h:40,
                 from /usr/gcc/4.8/include/c++/4.8.2/bits/char_

[2017-09-21 07:16] fxfactorial opened #33 "Install for Windows fails"
I'm using this in a gem being built on OS X but its destined for an environment where `RUBY_PLATFORM` is ` i386-mingw32`. So I tried to play it safe and did in my Gemfile:

[code]

I think that covered all the bases but when I run the program, I get

[code]

I was thinking you were distributing prebuilt binaries per platform? if so, Is there a way to say that in the gem file?

[2017-09-22 18:41] sgdavis1 commented on #31
Fails for me too :(

[2017-09-22 20:36] ilovemysillybanana commented on #31
I got it to compile using the gem gem-compiler

[2017-10-24 13:23] pdfrod commented on #18
I'm having the same issue with Alpine 3.6.

[2017-10-24 13:56] pdfrod commented on #18
I was able to workaround the issue adding the environment variables `ac_cv_func_isnan=yes ac_cv_func_isinf=yes` as explained here: https://github.com/gliderlabs/docker-alpine/issues/261#issuecomment-285307909

[2017-10-31 04:01] soundasleep commented on #4
For 0.0.7.4, `sudo apt-get install build-essential g++` solved the issue on Ubuntu 16.04.

[2017-11-15 18:15] LuisDominguez opened #34 "0.0.7.2 fails to build on arm with gcc 6.3.0"
i try installing in raspberry pi
and get:

`An error occurred while installing unf_ext (0.0.7.2), and Bundler cannot continue.
Make sure that `gem install unf_ext -v '0.0.7.2'` succeeds before bundling.`

`unf/table.hh:13539:25: error: narrowing conversion of ‘-113’ from ‘int’ to ‘char’ inside { } [Wnarrowing]
unf/table.hh:13539:25: error: narrowing conversion of ‘-81’ from ‘int’ to ‘char’ inside

[2017-11-15 18:23] LuisDominguez commented on #34
Solved!
run` bundle update unf_ext `

[2017-11-15 18:23] #34 closed

[2017-12-12 22:32] d9867eb opened #35 "Add support for compiling with Clang++ instead GCC++"

[2018-02-02 16:11] garrit-schroeder opened #36 "Support for Ruby Version 2.5.0"
Hello Guys,
are you planning on releasing a new version for Ruby 2.5.0?

Thanks a lot.

Greetings
Garrit

[2018-02-02 18:23] nomoon commented on #36
Are you receiving a particular error?

[2018-02-05 03:21] msg7086 commented on #36
x64-mingw32 and x86-mingw32 requires `RUBY VERSION: < 2.5, >= 2.0` on Windows.

[2018-02-06 06:03] knu commented on #36
Just released 0.0.7.5, in which Windows binary gems include unf_ext.so for 2.5.0.

[2018-02-06 06:03] #36 closed

[2018-02-14 10:30] fatmcgav opened #38 "0.0.7.5 Fails to install on MacOS 10.13.2 with Ruby 1.9.3"
When updating some of my Ruby projects today, I got a Gem install failure on the `unf_ext 0.0.7.5`.

The exception and associated mkmf.log is available here: https://gist.github.com/fatmcgav/973fe8d8210bd3ae7ab23faa457d6c50

Let me know if I can provide any further info.

Edit: Probably worth adding that v0.0.7.5 version installed fine on a CentOS 7 VM, so hence my suspicion that this is a MacOS r

[2018-02-14 11:31] knu commented on #38
Without string.h (as claimed in the log) you'd not be able to compile almost anything.  Maybe you need to run `xcode-select --install` or something is wrong with your Xcode/Command Line Tools installation.

[2018-02-14 14:03] fatmcgav commented on #38
@knu It looks like there is something screwy with my Xcode setup... Apologies for the noise...

[2018-02-14 14:03] #38 closed

[2018-02-20 02:23] rafaelmagu commented on #18
Did any of you by any chance install Ruby with ruby-install? I'm seeing this on `alpine:3.6` but on the `eventmachine` gem, using Ruby 2.2.9.

[2018-02-20 12:01] pdfrod commented on #18
Never tried ruby-install, I'm using rbenv. I don't even get to the part where I can install gems, as the error happens when installing Ruby.

[2018-02-20 21:01] rafaelmagu commented on #18
Managed to build a good version of Ruby 2.2.9 on Alpine 3.6 with the following Dockerfile:

[code]

[2018-02-24 14:29] MarkGibbons commented on #32
After upgrading to ruby 2.3 the compile fails even with the changes listed above.

[2018-02-26 07:50] MarkGibbons commented on #32
I added the following code to extconf.rb to get the gem to install on a variety of Solaris and ruby versions.

if RbConfig::CONFIG['host_os'] =~ /solaris(!?2.10)/
  $LDFLAGS << ' ' << '-m32'
  $CFLAGS = $CFLAGS.gsub(/-std=c99/, '')
  $CFLAGS << ' -m32 '
  $CPPFLAGS = $CFLAGS.gsub(/-std=c99/, '')
  $CPPFLAGS << ' -m32 '
  $CXXFLAGS = $CFLAGS.gsub(/-std=c99/, '')
  $CXXFLAGS << ' -m32 '
end

# ruby

[2018-03-06 21:33] Ryuno-Ki opened #40 "Build fail on Linux"
This occured to me when trying to install jekyll-webmention_io, see https://github.com/aarongustafson/jekyll-webmention_io/issues/75.

[code]

[2018-04-18 01:44] grasp commented on #40
any solution on this?

[2018-04-18 01:57] grasp commented on #40
my solution is : apt-get install g++

[2018-04-26 22:02] jmcmahon opened #42 "invalid compile options unf_ext 0.0.7.5"
Trying to install unf_ext on amazon linux with g++ version 4.8.5, but the Makefile that gets created has compiler options that are not valid.  How do I get around this issue?

$ g++ --version
g++ (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11)

$ gem install unf_ext -v '0.0.7.5'
Building native extensions. This could take a while...
ERROR:  Error installing unf_ext:
	ERROR: Failed to build gem native exte

[2018-04-27 02:44] knu commented on #42
Those options are for GCC>=6, so their appearance could mean the ruby itself was compiled with a newer version of gcc and those options were saved in ruby' configuration as a result of its initial configuration process.  So, the solution would be to install this extension with a newer version of g++ or recompile ruby with gcc 4.8.  The same version of gcc & g++ must be used.

[2018-04-27 10:54] jmcmahon commented on #42
Thanks.  This gives me some clues.  I have gcc 7.2.1 and g++ 4.8.5 installed on the box which is controlled by /etc/alternatives. In addition. I have ruby 2.5.1 installed via rvm (using gemsets) and the os has an old version of ruby 2.0.0p648 in /usr/bin/ruby. Somewhere in the building of this extension, the ruby stdlib mkmf that makes the Makefile for the extension is pulling in gcc compiler opti

[2018-04-27 19:37] silverhammermba commented on #40
Nothing to do with this extension:

    checking for main() in -lstdc++... *** extconf.rb failed ***

This is telling you that you don't have a C++ compiler installed. You won't be able to install any native extensions that use C++.

[2018-05-13 20:54] Ryuno-Ki commented on #40
G++ is installed
[code]

Still the same error.

[2018-05-16 23:20] michalejoye opened #43 "unable to install unf_ext from gem"
I get this error when i try to install this from gem
[gem_make.log](https://github.com/knu/ruby-unf_ext/files/2011139/gem_make.log)

[2018-05-17 15:52] smnplk commented on #35
Locate the **<gem location>/ext/unf_ext** folder  and edit the extconf.rb file, then run
ruby extconf.rb && make && make install

Or you could edit Makefile directly and change CXX=g++ to CXX=/usr/bin/clang++

[2018-05-22 10:57] kjian commented on #40
same here:

Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    /Users/kjian/.rvm/rubies/ruby-2.2.4/bin/ruby -r ./siteconf20180522-62521-1v2gv2c.rb extconf.rb
checking for main() in -lstdc++... yes
creating Makefile
...
unf was resolved to 0.1.4, which depends on
    unf_ext

[2018-05-22 11:04] kjian commented on #40
I have installed multiple Xcode in /Applications, when compiling unf_ext, it selected the wrong Xcode.

So, when i reset the compiling toolchain to default, it worked.

`sudo xcode-select -r`

[2018-05-30 18:03] mikemckinney opened #44 "Gem compile fails"
[code]

Versions:
[code]

On RHEL, Development Tools package is installed
[code]

I've tried the previous version 0.0.7.4 and getting same issue. Attempting to use both System ruby which is the version above, and embedded sensu ruby which is at 2.4.0. gcc-c++ and libstdc++ are both installed.

UPDATE

Apparently the rhui-REGION-rhel-server-optional repo became disabled in our base AMI, no idea how

[2018-05-30 18:29] #44 closed

[2018-06-02 14:15] Ryuno-Ki commented on #40
Now we just need to find a pendant on Linux :-)

[2018-06-09 23:33] JESii opened #45 "Gem install fail / Rails 5 / segmentation fault"
MacBook High Sierra, V10.13.3, Rails V5.2.0; Ruby V2.4.0p0.
Attempt to bundle installed failed with the following error:
[code]
Log file:
[code]

[2018-06-10 05:26] JESii commented on #45
gcc and g++ were causing the problem; symlinked gcc in their place and all is well.

[2018-06-10 05:26] #45 closed

[2018-07-13 14:50] JoshuaEdwards1991 commented on #40
Any fix for this?

[2018-10-24 13:39] Cyberbeni commented on #43
It worked for me on macOS 10.14 with xcode 10 but didn't work on 10.13.6 with xcode 10, only with xcode 9.3
Xcode -> Preferences -> Locations -> Command Line Tools

[2018-10-29 01:14] taf2 opened #46 "Build Errors"
[code]

[2018-10-29 01:16] taf2 commented on #46
Here's something interesting...

[code]

[2018-10-29 01:32] taf2 commented on #46
Not suggesting this is the correct workaround but should do the trick for anyone else that runs into this

https://github.com/calltracking/ruby-unf_ext/commit/cda90d51807918a5c6e8964aedd99786f773f292

[2018-11-09 11:47] yakimant commented on #16
@mikeshultz
OSX: xcode-select --install

[2018-11-20 07:17] ReDetection commented on #43
happens for me on macOS 10.14 with xcode 10. in the `mkmf.log` it's written
[code]
how to investigate that?

[2018-11-23 23:35] inertia186 commented on #40
Well, it says to do that right in the error.  Why didn't I think of that?

[2019-02-20 14:38] z64 opened #48 "Ruby 2.6 x86-mingw32 support"
Hi there! Ruby 2.6 is here, and the `x86-mingw32` release on rubygems is bound to `< 2.6`.

https://rubygems.org/gems/unf_ext/versions/0.0.7.5-x86-mingw32

I don't have a development `x86-mingw32` machine to test Ruby 2.6 compatibility myself, so I would appreciate your help in adding support and releasing new packages. Our gem relies on `unf_ext`, and we have a good number of Windows users 🙂

Let

[2019-03-03 01:02] swarley commented on #48
I built the gem an ran tests locally for `ruby 2.6.1p33 (2019-01-30 revision 66950) [x64-mingw32]` and `i386-mingw32`. All tests passed with no modification necessary.

[2019-03-18 15:01] psubrownie commented on #48
PR #47 fixes this issue, it just needs merged

[2019-03-21 14:27] trusche commented on #46
I'm experiencing the same issue with ruby 2.6.1 on Amazon Linux AMI release 2018.03.

[2019-03-21 14:54] trusche commented on #46
Ah... see #42. In my case, this fixed it:

[code]

[2019-03-23 23:37] swarley commented on #48
Presently in lieu of changes upstream, anyone that is having an issue with this can refer to [this post](https://github.com/meew0/discordrb/issues/604#issuecomment-475913239) on potential work arounds

[2019-03-31 21:29] tas50 opened #49 "Release current master please"
Hi there. With the merging of the AIX and Solaris fixes any chance you can push up a new version of the gem. It would be really helpful for our work at Chef.

Thanks,
Tim

[2019-04-09 01:23] MarkGibbons commented on #32
I think Scott's PR fixed this.

[2019-04-09 01:23] #32 closed

[2019-04-20 05:33] knu commented on #49
Done!

[2019-04-20 05:33] #49 closed

[2019-04-27 03:58] z64 commented on #48
Looks like there has been a new release that relaxes the requirements on the gem package. Thank you! :cat:

[2019-04-27 03:58] #48 closed

[2019-09-12 09:21] CatalinMustata opened #51 "Build fails if using Xcode 11 toolchain"
Noticed this on my machine and also on CircleCI that build fails when using Xcode 11 command line tools. I've switched the tools to Xcode 10.3 and it works fine on my machine, but it gets a bit more complicated when attempting to build on CircleCI.

[code]

[2019-09-22 15:28] orgads opened #52 "Latest version doesn't contain a binary for Windows"
In rubygems, version 0.0.7.6 doesn't have binary packages:

[code]

[2019-09-22 15:29] orgads commented on #48
Does it work for you? See #52.

[2019-09-25 22:17] ottoo commented on #51
I'm having the same issue as well. Cannot use CircleCI to build, also fails locally when running bundle install.

[2019-09-26 14:10] CatalinMustata commented on #51
It seems the new toolchain changes the location of the Ruby headers. Have a look at the CircleCI forums for more info and workarounds:
https://discuss.circleci.com/t/xcode-11-gm-seed-2-released/32505/23

[2019-10-01 13:54] bernikovich commented on #51
[code]
:'(

[2019-10-09 12:45] bernikovich commented on #51
Have you tried the following?
`open /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg`

[2019-10-13 06:56] talezion commented on #40
Any solutions?

I get the same error.

`sudo gem install unf_ext -v '0.0.7.6' --source 'https://rubygems.org/'`

I was setting fastlane with Firebase Distribution and had to run `bundle update`

`fastlane add_plugin firebase_app_distribution`

[code]

[2019-10-13 07:10] talezion commented on #40
I updated ruby to 2.6.3 and is works now!

[2019-11-13 23:49] trevormccasland commented on #52
This has happened for the past two releases, is this intentional?

[2019-12-23 08:01] marlti7 commented on #40
Any fix for this?

[2020-01-19 19:36] bastelfreak opened #53 "Do a 1.0.0 release?"
Hi,
many companies require 'stable' software in their production environment. This mostly means a 1.0.0 release with a stable semver API. Would you mind releasing 1.0.0?

[2020-03-04 16:51] hokita commented on #40
Any fix for this? ruby 2.6.5 doesn't work

[2020-03-23 07:59] glennsarti commented on #52
11 months on and still no builds?  What's going on ?

[2020-03-27 15:46] ronaldtse commented on #52
It seems that we won't be able to use unf_ext until this is fixed.

This commit (https://github.com/knu/ruby-unf_ext/commit/90fd38bfd32784bfc5f7a7d74d70da7707fa56a2) from @knu claims that there are Windows binaries for 2.6, but they are not in RubyGems?

[2020-03-29 17:14] knu commented on #52
Just pushed 0.0.7.7!

[2020-03-29 21:08] orien opened #55 "Is version 0.0.7.7 a legitimate release?"
I see a new release has been pushed to RubyGems.org https://rubygems.org/gems/unf_ext/versions/0.0.7.7 but there's no corresponding changes in this repository, with no commits since 2019-04-20!

@knu could you please confirm this is a legitimate release. I'm concerned this release contains a malicious payload.

[2020-03-30 02:14] knu commented on #55
Thanks for the heads-up.  I pushed the tag but just forgot to push to master.  It is now settled!

[2020-03-30 02:14] #55 closed

[2020-03-30 02:19] orien commented on #55
Thanks @knu!

[2020-03-31 05:27] MITSUBOSHI opened #56 "Push tag v0.0.7.7"
Hi, it seems unf_ext v0.0.7.7 is available.
https://rubygems.org/gems/unf_ext/versions/0.0.7.7
However, there is no tags for v0.0.7.7 on GitHub. Could you please push it?

[2020-04-01 19:55] csuhta opened #57 "Failing to compile on macOS/Ruby 2.7.1 but not sure why"
This is what I have in my logs for installing unf_ext. I'm not sure why this isn't working, it seems to be pointing to a source-code issue only, not failing to find other files, etc

If I can provide any other information, please let me know.

[code]

[2020-04-06 11:59] jakubgs commented on #57
Seeing the same issue. No clue what this is about.

[2020-04-06 18:55] csuhta commented on #57
I was able to fix this on MacOS 10.15.4, but I'm not sure what did it:

- Reinstall MacOS Developer Tools
- Re-install Jemalloc and Ruby (using homebrew and ruby-install)
- Gem bundled correctly after that

[2020-04-21 08:57] jayshah123 opened #58 "Building fails with Mac 14, Xcode 11.2, ruby 2.3.7"
When running bundle install with following, error occurs...
Xcode `11.2.1`
Build version `11B500`
macOS `10.14.6`
ruby version ruby `2.3.7p456 (2018-03-28 revision 63024) [universal.x86_64-darwin18]`
Bundler version `2.1.4`

[code]

[2020-04-21 12:43] edbond commented on #57
After reinstalling jemalloc gem installed:

[code]

[2020-05-01 00:58] Krishna commented on #58
I was running into the same problem (on macOS Catalina 10.15.3 (19D76), Xcode 11.4 (11E146)).

My fix was to do the following in the shell:

[code]
This worked for me.

I got the information about exporting SDKRoot from [here](https://elixirforum.com/t/could-not-compile-file-system-watcher-for-mac/17432/8).

Hope this helps someone.

[2020-05-04 01:42] eugeniomiro commented on #4
on openSUSE (tested on Leap 15.1)
[code]

[2020-05-18 15:32] #33 closed

[2020-11-14 02:17] KlausLiu commented on #40
Any fix for this? ruby 2.6.0 doesn't work

[2020-12-19 13:31] tycooon opened #60 "Installation fails in Docker and Ruby 3 preview"
Here is the command:

[code]

And the output:

[code]

[2020-12-29 13:23] tycooon commented on #60
Closing since it works in released version.

[2020-12-29 13:23] #60 closed

[2021-01-07 14:30] AndiBrunner commented on #40
I had the same issue, installing ruby-dev helped.
[code]

[2021-01-15 18:12] dingxiaohu2009 opened #61 "update to suppout ruby 3.0"
unf_ext-0.0.7.7-x64-mingw32 requires ruby version >= 2.2, < 2.8.dev, which is
incompatible with the current version, ruby 3.0.0p0

[2021-04-10 13:44] mungler opened #62 "Failing to build on ARM64 Linux (Apple M1 running Debian in a VM)"
This is probably quite a niche request, but i'm trying to set up a development env on my new M1 Mac - we use Vagrant, which is not yet fully supported / working, so i'm doing a bit of a DIY Vagrant box using Debian for ARM64.

The compile is failing with multiple errors about narrowing conversion, e.g.

[code]

Switching the compiler to clang just renders the same error slightly differently:

[cod

[2021-04-10 14:38] mungler commented on #62
A couple of things I tried:

1) wrapping all the integers in that table.hh file in explicit casts - didn't help
2) adding -Wno-narrowing to the compiler flags in the Makefile - allows compilation to succeed
3) adding -fsigned-char to the compiler flags in the Makefile - this also allowed compilation to succeed

To be clear - i've no idea if this is a Debian thing, an ARM64 thing, or a compiler thi

[2021-04-10 14:58] mungler commented on #62
So i've been reading with interest some of the older issues and PRs on this repo - it seems this problem reared its ugly head before, was fixed along the lines i'm trying (-fsigned-char) and then that was reverted in favour of explicitly defining the value in the table.hh file as signed char. I'm confused, then, as to why its not working in my case...

Any experts who can help? :)

[2021-04-25 06:49] #58 closed

[2021-05-03 18:37] fkapsahili commented on #57
If anyone should have a similar problem:
I still got the same error despite these steps. It just didn't work when the Command Tools were installed - the following steps, one after the other, were a workaround for me:

[code]

[2021-06-03 17:09] marianodominguez commented on #57
Is there a solution for Linux? I installed all development tools and c++ devel libs, build is failing with 2.7
Centos 7

[error.txt](https://github.com/knu/ruby-unf_ext/files/6593242/error.txt)

[2021-06-10 06:38] josepbordesjove commented on #56
Any news with this?

[2021-06-11 21:52] ramereth commented on #61
Any update on this? I'm running into this as well.

[2021-08-22 17:13] johnnyshields commented on #61
@knu can we ask your help on this please? Ruby 3.0 looks not supported on x64-mingw32

[2021-09-13 18:29] Stromweld commented on #61
looking at the non mingw32 version the required ruby version is >= 0. Can this gem simply be updated with the same requirement.

[2021-09-13 19:10] Stromweld commented on #61
looks like PR #64 should fix this issue

[2021-09-13 19:43] pravi commented on #56
@knu I'd like to update the debian package to this new version and pushing tag for this version would help there.

[2021-09-14 06:55] knu commented on #56
Sorry, better late than never, done!

[2021-09-14 06:55] #56 closed

[2021-12-28 04:07] johnnyshields opened #65 "Please add support for Ruby 3.1"

[2022-01-31 16:19] johnnyshields commented on #65
@knu any update on this?

[2022-02-24 20:27] noypitt commented on #65
any updates? i am getting this errors:

[code]

[2022-02-24 23:12] kigster commented on #62
Note — upgrading to 0.0.7 and 0.0.8 fixes the problem.

[2022-03-08 08:55] johnnyshields commented on #65
@knu can you please handle this?

[2022-03-13 03:41] knu commented on #65
Sorry for the delay, guys.  I just released 0.0.8.1 that should include a binary gem built for Ruby from 2.4 to 3.1.

[2022-03-13 03:41] #65 closed

[2022-03-13 06:55] johnnyshields commented on #65
Thank you 🎊

[2022-03-28 18:20] johnnyshields commented on #61
This is done -- can be closed.

[2022-03-28 18:20] johnnyshields commented on #62
This is done -- can be closed.

[2022-03-28 18:21] johnnyshields commented on #52
This is done -- can be closed.

[2022-04-08 17:09] #52 closed

[2022-04-09 07:47] jeremiahsnapp opened #66 "Can't install 0.0.8.1-x64-mingw32 in ruby 3.1"
I'm trying to install [0.0.8.1-x64-mingw32](https://rubygems.org/gems/unf_ext/versions/0.0.8.1-x64-mingw32) in a x64-mingw ruby 3.1.1 system but I get the following error.

[code]

I can successfully install [0.0.8.1-x86-mingw32](https://rubygems.org/gems/unf_ext/versions/0.0.8.1-x86-mingw32) in a x86-mingw ruby 3.1.1 system.

I noticed `0.0.8.1-x64-mingw32` has required ruby version: `>= 2.4, < 3

[2022-04-12 21:07] jeremiahsnapp commented on #66
I did some more investigating and I noticed that the `0.0.8.1-x64-mingw32` gem is missing the `unf_ext.so` library file built for ruby 3.1 as you can see in the following output which is just a list of the gem's files.

[code]

You can see that the `unf_ext-0.0.8.1-x86-mingw32.gem` gem does have the `unf_ext.so`  library file built for ruby 3.1.

[code]

Somehow the build process for `0.0.8.1-x64-

[2022-04-13 05:26] knu commented on #66
Thanks for reporting this.  I might have failed to build and package binary gems properly with the latest version of rake-compiler-dock.  I'll roll out 0.0.8.2 soon.

[2022-04-13 05:32] knu commented on #66
This is probably related to the fact that RubyInstaller changed the x64 platform name from `x64-mingw32` to `x64-mingw-ucrt`.
https://rubyinstaller.org/2021/12/31/rubyinstaller-3.1.0-1-released.html

[2022-04-13 06:28] knu commented on #66
I've released 0.0.8.2.beta for testing.  The latest version of rake-compiler-dock no longer seems to build an x64-mingw32 binary for Ruby 3.1 ([code](https://github.com/rake-compiler/rake-compiler-dock/blob/a014c3e1b94ef88bcb2ef5a0dd0907bdd2f233a0/Dockerfile.mri.erb#L171-L176)), so I followed that and pushed three binary gems.  Feedback is welcome.

[2022-04-30 17:47] jeremiahsnapp commented on #66
@knu this seems to work for us. Can you please make a stable release? Thanks!

[2022-05-24 17:27] jeremiahsnapp commented on #66
Hi @knu, do you have any concerns with making 0.0.8.2 a stable release?

[2022-05-25 15:16] gabgagnon commented on #66
@knu Can you make it a stable version?

[2022-05-26 04:10] johnmccrae opened #67 "Can't install 0.0.8.2 on Windows"
Our build system picked up the new version of the gem today and immediately blows up on Windows with the following output:

[code]

I can reproduce this error on my local windows machine using this:

[code]

[2022-05-26 04:20] johnmccrae commented on #67
ruby 3.0.3p157 (2021-11-24 revision 3fb7d2cadc) [x64-mingw32]

[2022-05-26 10:11] johnnyshields opened #68 "0.0.8.2 binary builds seemed to be tagged as "beta"?"
From Rubygems release page: https://rubygems.org/gems/unf_ext/versions

![image](https://user-images.githubusercontent.com/27655/170467554-764201ff-121f-4cb3-8867-c8a0a1f206de.png)

[2022-06-23 23:31] johnnyshields commented on #68
@knu can you please check this?

[2022-06-25 02:17] knu commented on #68
Oh, I think I forgot to push binary gems.  Just pushed those, so please check out.

[2022-06-25 02:20] johnnyshields commented on #68
@knu perfect, thank you!

[2022-06-25 02:20] #68 closed